.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid $lightBrown;
    box-shadow: 0 4px 2px -2px $white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: auto;
    overflow-y: auto;
    background-color: $offWhite;
    &__logo {
        width: 100%;
        height: 6rem;
        @media only screen and (max-width: $mobile_max) {
            max-width: 100px;
            width: 100%;
        }
        g {
            fill: $lightBrown !important;
        }
    }
    #primary-menu {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            @media only screen and (max-width: $mobile_max) {
                display: none;
            }
        li {
            padding-right: 2.5rem;
            a {
                font-family: $roboto;
                text-decoration: none;
                text-transform: uppercase;
                color: $lightBrown;
                font-weight: 400;
                letter-spacing: 0.3px;
            }
        }
    }
    .search-icon {
        width: 30px;
        height: 1.5rem;
        cursor: pointer;
        @media only screen and (max-width: $mobile_max) {
            display: none;
        }
    }
}

.hamburger-menu {
    cursor: pointer;
    display: none;
    @media only screen and (max-width: $mobile_max) {
        display: block;
        height: 1.5rem
    }
}

.mobile-menu-overlay {
    background-color: $brown;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    opacity: 0;
    transition: all 300ms ease-in;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }
    &__logo {
        height: 7rem;
    }
    &__close {
        cursor: pointer; 
    }
    ul {
        list-style-type: none;
        text-align: center;
        margin-top: 4rem;
        li a {
            font-family: $italiana;
            font-size: 3rem;
            font-weight: 300;
            text-decoration: none;
            color: $white;
            display: block;
            padding-bottom: 2rem;
        }
    }
    &__footer {
        margin-top: 7.5rem;
        border-top: 2.5px solid $white;
        position: absolute;
        left: 0;
        width: 100%;
    }
    &__social-media-items {
        display: flex;
        justify-content: center
    }
    &__social-media-item {
        &:first-child {
            margin-right: 2.5rem;
        }
        img {
            width: 2.5rem;
            display: block;
        }
    }
}

.mobile-overlay-show {
    opacity: 1;
    z-index: 2000;
}

.header-search-form {
    opacity: 0;
    transition: all 300ms ease-in;
    position: absolute;
    pointer-events: none;
    form {
        border-bottom: 1.2px solid $lightBrown;
        display: flex;
        .search-field {
            border: none;
            outline: none;
            background-color: transparent;
            color: $lightBrown;
            font-family: $poppins;
            font-size: 1.1rem;
        }
    }
    @media only screen and (max-width: $mobile_max) {
        display: none;
    }
    button {
        display: none;
    }
}

.show-search-form {
    opacity: 1;
    width: 25%;
    position: unset;
    pointer-events: all;
}

.mobile-menu-header-search-form {
    @media only screen and (max-width: $mobile_max) {
        margin-top: 2.5rem;
    }
    .header-search-form {
        display: block;
        opacity: 1;
        @media only screen and (max-width: $mobile_max) {
            margin-left: 3rem;
            margin-right: 3rem;
            pointer-events: unset;
        }
    }
    form {
        border-bottom: 1px solid $white;
    }
    .search-field {
        color: $white !important;
        width: 100%;
    }
}