.c-about-page {
  margin-top: 4.5rem;
  margin-bottom: 4rem;
  &__img {
    position: relative;
    display: block;
    @media only screen and (max-width: $tablet_max) {
      order: 2;
    }
    &::before {
      content: '';
      background-color: $lightBrown;
      width: 65%;
      max-height: 250px;
      height: 100%;
      position: absolute;
      top: -30px;
      left: -25px;
      z-index: -1;
    }
    &::after {
      content: '';
      background-color: $white;
      width: 65%;
      max-height: 250px;
      height: 100%;
      position: absolute;
      bottom: -25px;
      right: -25px;
      z-index: -1;
    }
    img {
      width: 100%;
      display: block;
      object-fit: cover;
    }
  }
  &__main-content {
    display: flex;
    @media only screen and (max-width: $tablet_max) {
      flex-direction: column;
    }
  }
  &__title {
    color: $lightBrown;
    font-weight: 300;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    &::after {
      content: '';
      background-color: $lightBrown;
      width: 60%;
      height: 1.2px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 1.5rem;
    }
  }
  &__text {
    font-weight: 300;
  }
  &__content {
    display: block;
    margin-left: 10rem;
    @media only screen and (max-width: $tablet_max) {
      margin-left: 0;
      order: 1;
      margin-bottom: 6.5rem;
    }
  }
}