.c-gallery {
    margin: 4.5rem 0;
    &__images {
      list-style-type: none;
      margin: 1rem auto;
    }
    &__image {
      width: 250px;
      height: auto;
      margin-bottom: 10px;
        img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
          transition: all 300ms ease-in;
            &:hover {
                transform: scale(1.02);
            }
        }
        }
    }
