.c-refund-policy {
  margin: 2.5rem 0;
  &__content {
    background-color: $white;
    padding: 3rem 3.5rem;
    box-shadow: $box-shadow-light-black;
  }
  h2 {
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 0.7rem;
  }
  &__title {
    color: $lightBrown;
    text-align: center;
    margin-bottom: 1.5rem;
  }
}